
						<section class="wrapper style5">
							<div class="inner">
								<header>
										<h4>The issue I have with James 2: 14-26</h4>
										<p>Category: Theology</p>
									</header>
									
									<div class="box alt">
										<div class="row uniform 50%">
											<div class="12u"><span class="image fit"><img src="assets/images/faith_works.jpg" alt="" /></span></div>
										</div>
									</div>

									
										<p>I have studied theology for about two years and my main focus and interest has been on soteriology, which is the study of salvation through different...
										</p>
										<div class="row">
										<div class="6u 12u$(medium)">
											<ul class="actions">
												<li><a href="#/view2" class="normalize">Keep Reading</a></li>
												
											</ul>
										</div>
									</div>

										<hr>
												

									
								<header>
										<h4>My Last Love...</h4>
										<p>Category: Poetry, Personal</p>
									</header>
									
									<div class="box alt">
										<div class="row uniform 50%">
											<div class="12u"><span class="image fit"><img src="assets/images/ilu.jpg" alt="" /></span></div>
										</div>
									</div>

									
										<p>Holy shit!! I’m actually pretty embarrassed of what I’m about to write down, but I’m also thrilled to say the least. It's...
										</p>
										<div class="row">
										<div class="6u 12u$(medium)">
											<ul class="actions">
												<li><a href="#/view3" class="normalize">Keep Reading</a></li>
												
											</ul>
										</div>
									</div>

										<hr>
									<header>
										<h4>Can A chrisitan who commits suicide ever go to heaven?</h4>
										<p>Category: Culture, Theology</p>
									</header>
									
									<div class="box alt">
										<div class="row uniform 50%">
											<div class="12u"><span class="image fit"><img src="assets/images/clouds.jpg" alt="" /></span></div>
										</div>
									</div>

									
										<p><b>Though</b> it might not be in my best interest to assert this question,  I felt the necessity to do so because of how incorrect this belief has been maneuvered... 
										</p>
										<div class="row">
										<div class="6u 12u$(medium)">
											<ul class="actions">
												<li><a href="#/view4" class="normalize">Keep Reading</a></li>
												
											</ul>
										</div>
									</div>

										<hr>
								<header>
										<h4>19th Dynasty</h4>
										<p>Category: Poetry</p>
									</header>
									
									<div class="box alt">
										<div class="row uniform 50%">
											<div class="12u"><span class="image fit"><img src="assets/images/ramses.png" alt="" /></span></div>
										</div>
									</div>


									
										<p><em><b>Ramses I</b>, Seti I, Ramses II, Merneptah, Seti II, Siptah, Twosret<em>. It's not about the glory, the fame, the monuments...
  										</p>
										<div class="row">
										<div class="6u 12u$(medium)">
											<ul class="actions">
												<li><a href="#/view5" class="normalize">Keep Reading</a></li>
												
											</ul>
										</div>
									</div>
									
								</div>
								</section>	
								</div>
								</section>