
				<!-- Main -->
					<article id="main">
						<section class="wrapper style5">
							<div class="inner">
									<header>
										<h4>The Issue I have with James 2:14-26</h4>
										<p>Category: Theology</p>
									</header>
									
									<div class="box alt">
										<div class="row uniform 50%">
											<div class="12u"><span class="image fit"><img src="assets/images/faith_works.jpg " alt="" /></span></div>
										</div>
									</div>


<p>
I have studied theology for about two years and my main focus and interest has been on soteriology, which is the study of salvation through different doctrines.  In soteriology there are many interesting topics that are discussed and answered very thoroughly by many scholars and theologians.  But as a young theologian who is still developing his skills, I still have trouble with some passages, such as James 2:14-26.  Though I believe we are justified by faith alone this passage merely opposes that belief, and it's also a debatable verse by hundreds of theologians.  Though there are no contradictions in the bible, many people(i.e. atheist) would say this is one. I will try and show my issues , troubles, and findings through the course of writing this post, and hopefully trough this study my love for Jesus and understanding towards him can also grow.</p>


<h2>James 2: 14-26</h2>
<p><b>
"What good is it, my brothers, if someone says he has faith but does not have works? Can that faith save him? If a brother or sister is poorly clothed and lacking in daily food, and one of you says to them, “Go in peace, be warmed and filled,” without giving them the things needed for the body, what good is that? So also faith by itself, if it does not have works, is dead.

<br />
But someone will say, “You have faith and I have works.” Show me your faith apart from your works, and I will show you my faith by my works.  You believe that God is one; you do well.  Even the demons believe - and shudder! Do you want to be shown, you foolish person, that faith apart from works is useless? Was not Abraham our father justified by works when he offered up his son Issac on the altar? You see that faith was active along with his works, and faith was completed by his works; and the Scripture was fulfilled that says, “Abraham believed God, and it was counted to him as righteousness”- and he was called a friend of God.  You see that a person is justified by works and not by faith alone.  And in the same way was not also Rahab the prostitute justified by works when she received the messengers and sent them out by another way? For as the body apart from the spirit is dead, so also faith apart from works is dead."</b></p>




<h4>Issue 1:</h4>
<p>
James 2:14 begins with, <i>"What good is it, my brothers, if someone says he has faith but does not have works? Can that faith save him?" </i> 

It seems like James is saying that faith can't save you without works.  But is he right? </p>

<h4>Issue 2:</h4>
<p>
Also, reading James 2:17 poses a problem, <i>"So also faith by itself, if it does not have works, is dead."</i>. So there is a big conflict in James 14-17. Is it faith alone? or is it faith + works? 

Since this passage conflicts with many other passages, and the bible does not contradict itself than there has to be some resonable explanation to what James is saying.</p>


<p>
Well, what does it take to be saved?

James: 14-26, cannot and utterly cannot mean that not having works will not save you.  That will completely and utterly demolish grace.  That will oppose everything I believe, anything I have taught, even everything some evangelicals preach.


You get saved by believing in Jesus!! Faith Alone!!  faith alone and not by works. Jesus also saves you not by anything you have done in the past, present or anything you will do in the future but because he is almighty, he is awesome, he is great, and he wants his glory to be glorified through us to proclaim the he is King.</p>
 
<blockquote>
For by grace you have been saved through faith.  And this is not your own doing; it is the gift of God, not a result of works, so that no one may boast.  Ephesians 2: 8-9</blockquote>

<blockquote>
“For God so loved the world, that he gave his only Son, that whoever believes in him should not perish but have eternal life. Whoever believes in him is not condemned, but whoever does not believe is condemned already, because he has not believed in the name of the only Son of God"
John 3:16,:18</blockquote>

<blockquote>
Truly, truly, I say to you, whoever hears my word and believes him who sent me has eternal life.  He does not come into judgement, but has passed from death to life.  John 5:24</blockquote>

<p>Hence you can ONLY!! get saved by faith and not works.</p>




<h4>Being Saved</h4>
<h6>Plausibility 1:</h6>
<p>
Does “save” in this passage have a different type of meaning?  What if being saved in this context doesn't mean saving from "heaven or hell" but getting "saved" from the wrath of God here on earth. Does it have to do with saving from the judgment/millennial era(dispensationalism, if you're into that)? I have actually seen an argument towards dispensationalism/premillennial which uses this passage, and really battles certain doctrines of eschatology. But I don't want to get too deep with this subject because it would take loads of time, but think, could these possibilities be possible? Read the whole book of James, who is he talking to? What is he talking about? Never rely on just one passage that someone hands to you.</p>


<h6>Plausibility 2:</h6>
<p>
What if we are not being understanding of James in the way he wanted to be understood? Let's look at who he is talking to. In James 1:1 He is talking to the twelve tribes of Dispersion(aka Jews, offspring of Jacob), but in James 2:1 it says “My brothers, show no partiality as you hold the faith in our Lord Jesus Christ, the Lord of glory.” Hence James is speaking to christians.   

What if these christians were just people who didn’t care about works and would act on their own behalf? God wanted these people to actually have works to proclaim who he is and spread the gospel through all nations. It could even be possible that James was just speaking to these christians and by no means meant that salvation was possible by faith and works, but by faith alone but adding works to the faith would glorify God.  I mean If you love Jesus enough why wouldn’t you want to obey him?  Enjoy his presence? live by his commands?</p>


<h4>Issue 3:</h4>
<h5>The conflict with Abraham</h5>

<blockquote>
<h6>James 2: 21-24</h6>
"Was not Abraham our father justified by works when he offered up his son Issac on the altar? You see that faith was active along with his works, and faith was competed by his works; and the Scripture was fulfilled that says, “Abraham believed God, and it was counted to him as righteousness” - and he was called a friend of God. You see that  a person is justified by works and not by faith alone."
</blockquote>


<blockquote>
<h6>Romans 4: 1-12</h6>
"What then shall we say was gained by Abraham, our forefather according to the flesh? For if Abraham was justified by works, he has something to boast about, but not before God.  For what does the Scripture say? “Abraham believed God, and it was counted to him  as righteousness.”.  Now to the now who works, his wages are not counted as a gift but as his due.  And to the one who does not work but believes in him who justifies the ungodly, his faith is counted as riotousness, just as David also speaks of the blessing of the one to whom God counts righteousness apart from works:
“Blessed are those whose lawless deeds are forgiven, and whose sins are covered; blessed is the man against whom the Lord will not count his sin”
Is this blessing then only for the circumcised, or also for the uncircumcised? For we say that faith was counted to Abraham as righteousness.  How then was it counted to him? Was it before or after he had been circumcised?  It was not after, but before he was circumcised.  He received the sign of circumcision as a seal of the righteousness that he had by faith while he was still uncircumcised.  The purpose saws to make him the father of all who believe without being circumcised, so that righteousness would be counted to them as well, and to make him the father of the circumcised who are not merely circumcised but who also walk in the footsteps of the faith that our father Abraham had before he was circumcised."
</blockquote> 


<p>
Conflict!! Conflict!! Conflict!! After reading the two verses above was Abraham justified by works or by faith? Technically both. We have to first define justification to deepen our understanding of what is going on. </p>
<p>
<b>Justfication</b> - Justification or being justified is the action of declaring or making righteous in the sight of God.  Hence when you accept Jesus as your Lord and savior and believe that he is the son of God who came to remove your sins, you then get justified.  God removes the penalty of sin and declares the sinner righteous (aka becomes chrisitan), so in James 2:21-24, James is saying that Abraham is getting justified by works but in Romans, Paul is saying that Abraham is getting justified by faith. But which one is it? </p>



<h6>Justification by works:</h6>
<p>
In the times of Abraham, Jacob and Isaac, many would say Abraham got justified by works because he performed in an obedient manner towards the Lord.  God told Abraham to go to the mountain and kill his only son Isaac. Abraham obviously with fear but with great obedience followed through, and just before he was going to murder his son got stopped by the Lord. If people would have seen this act the only conclusion of justification is by works not by faith because nobody could see his faith but God.  His works justified him in this sense, if it wasn’t for this work then we would have not known that Abraham had faith. 

Now lets suppose someone, lets call him Nataniel, saw Abraham performed this act(mentioned above), he then can say Abraham is justified, not because of faith(because he doesn’t know if Abraham is faithful or not) but because his performance did him well.  He came through and obided by what the Lord had commanded, hence Abraham was justified by works in this sense.  </p>


<h6>Justification by faith:</h6>
I would say that Abraham got justified by faith and only faith because if it wasn’t for this faith he would have not acted in any obedient manner towards the Lord.  He was already justified by faith, and like no one could see his faith, only the Lord then his performance justified him through the eyes of man. The representation of Abraham and Isaac was both an obedience(work) and trust(faith) type of story.
</p>

<p>
Another point that I want to make is that in the book of Romans, circumsition is mentioned many times.  But why? Because circumsition is a work.  And in Romans it is being stated that Abraham had faith before being circumcised therefore being justified by faith before works. </p> 

<h4>Conclusion</h4>
<p>
James 2: 14-27 Is a very complicated text to study and will certainly challenge your theology. "Justification by faith vs justification by faith and works" is a great and interesting topic, but I can sincerely say that by the grace of Jesus, who died for our sins, and gave his life for us, we are justified by faith alone.  Our love towards Jesus should be such that we perform in an obedient manner to manifest his glory and for our lifes to be enriched in him and by him and to be hopeful for our resting place in eternity.  
	</p>								
									
										</div>
										</section>
									</article>
									
