<div class="row">
	<div class="col-md-7">
		<h1>Verify Access Code</h1>
        <p>Enter your one-time security access code below to proceed.</p>
    </div>
    <div class="col-md-5">
        <div class="wayfinder-horizontal" style="display : block">
            <ul>
                <li id="1201" class="complete"><span>1</span>Business<br>Details</li>
                <li id="1202" class="complete"><span>2</span>Filing<br>Information</li>
                <li id="1203" class="complete"><span>3</span>Verify<br>Business</li>
                <li id="1204" class="active"><span>4</span>Enter<br>Access Code</li>
            </ul>
        </div>
    </div>
</div>
<div class="alert alert-danger" ng-if="validateOtp.model.invalidText">
    <h4>Error</h4>
    <ul>
        <li>{{validateOtp.model.invalidText}}</li>
    </ul>
</div>
<form ng-submit="validateOtp.verify()" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h2>One-Time Access Code</h2>
                    <p class="required-banner">Required <span>*</span></p>
                    <br>
                    <p>Your one-time Michigan Treasury Online (MTO) security access code has been sent to <strong>youremailaddress@mail.com</strong>. If this email isn't correct, <a href="JavaScript:void(0);">click here to edit your profile</a>. You will have to add this business again if you change your email.</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <formly-form model="validateOtp.model" fields="validateOtp.otpForm" form="validateOtp.form"></formly-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="submit" class="btn btn-danger btn-cancel" ui-sref="mtoApp.businessList">Cancel<i class="fa fa-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- New Access Code Modal -->
<div class="modal fade" id="accessCodeModal" tabindex="-1" role="dialog" aria-labelledby="accessCodeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="accessCodeModalLabel">Request Confirmation</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Before requesting an additional access code, please check your spam or junk folder. If you continue to experience issues with receiving your access code, contact Treasury at 517-636-6925.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="validateOtp.requestOtp()" >Resend Email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>