<div class="row">
	<div class="col-md-7">
		<h1>Manage Business Verification</h1>
		<p>Please fill in all of the information below in order to be set up to manage this business.</p>
	</div>
    <div class="col-md-5">
        <div class="wayfinder-horizontal" style="display : block">
            <ul>
                <li id="1201" class="complete"><span>1</span>Business<br>Details</li>
                <li id="1202" class="complete"><span>2</span>Filing<br>Information</li>
                <li id="1203" class="active"><span>3</span>Verify<br>Business</li>
                <li id="1204"><span>4</span>Enter<br>Access Code</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-12">
				<h2>Security Questions</h2>
				<p>Please answer <strong>all</strong> of the following questions.</p>
				<p class="required-banner">Required <span>*</span></p>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">
                <form ng-submit="validateSecrets.verify()" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <formly-form model="validateSecrets.model" fields="validateSecrets.secretsForm" form="validateSecrets.form"></formly-form>
                        </div>
                    </div>
                </form>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-12">
				<button type="submit" class="btn btn-primary">Verify</button>
			</div>
		</div>
	</div>
</div>


<!--Modal for invalid Secrets-->
<div id="invalidSecrets" class="modal" tabindex="-1" role="dialog" aria-labelledby="invalidSecretsLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="invalidSecretsLabel">Invalid Secrets</h4>
            </div>
            <div class="modal-body" >
                <p class="warning">This Secrets is not associated with the selected business's legal address.
                    <span ng-if="validateSecrets.model.attemptsRemaining > '0'">
                        You have<strong> {{validateSecrets.model.attemptsRemaining}} attempt<span ng-if="validateSecrets.model.attemptsRemaining !== '1'">s</span></strong> remaining.
                    </span>
                    <span ng-if="validateSecrets.model.attemptsRemaining < '1'">Your access to this FEIN has been restricted for 60 minutes.</span>
                </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Okay</button>
            </div>
        </div>
    </div>
</div>
<!--End of invalid Secrets-->